/* We'll eventually replace this css, but this gives us some styles for lesson 1 */

:root {
    /* Colors */
    --primary: #0091ea;
    --primary-light: #7bbde6;
    --accent: #546e7a;
    --grey: #445;
    --error: #f52;
    --background: #f5f5f6;
    --background-accent: #cfe5f2;
    --white: #fff;
    --border: #99a;
    /* Sizes */
    --radius: 10px;
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 20px;
    --space-xl: 40px;
  }
  
  /* ------------------------------------------------------------------------ */
  /* Micro reset */
  /* ------------------------------------------------------------------------ */
  
  * {
    box-sizing: border-box;
  }
  
  html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* ------------------------------------------------------------------------ */
  /* General styles */
  /* ------------------------------------------------------------------------ */
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: var(--primary);
    height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin: var(--space-md) 0;
  }
  
  section, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    margin-bottom: 1em;
  }
  
  a {
    margin: 0 auto;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius);
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: var(--primary);
  }
  
  table {
    min-width: 300px;
    background-color: white;
    min-height: 300px;
  }
  
  th {
    background-color: #ddd;
    padding: 10px;
  }